* {
    margin: 0;
    padding: 0;
    font-size: large;
    }
#videoList{
    margin: auto;
    width: 50vw;
}
#videoList > div{
    width: 100%;
    border-bottom: black solid 1px;
}
#videoList > div:hover{
    width: 100%;
    border-bottom: black solid 1px;
    background-color: grey;
    cursor: pointer;
}
#videoList > div:hover > a{
    color:white;
}
#logoSite{
    margin-left: 5vw;
}
#logoSite > a > img{
    height: 10vh;
}
nav{
    height: 5vh;
    width: 90vw;
    border-bottom: black solid 1px;
    border-top: black solid 1px;
    margin: auto;
    vertical-align: center;
}
nav > *{
    transform: translate(0%, +50%);
    margin-right: 10px;
    margin-left: 10px;
}
#uploadLink{
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
#mainMenuLink{
    float: left;
    
}
a{
    text-decoration: none;
}